__pycache__/
.env
data/raw/
data/processed/
data/synthetic/
data/qdrant_server_storage/
data/qdrant_storage/
*.pyc
.venv/
env/
*.egg-info/
wandb/
checkpoints/
# Ignore top-level models/ (binary weights, large files) but NOT src/models/
/models/lora_adapter/*.bin
/models/lora_adapter/*.safetensors
docs/screenshots/
*.pkl
*.pt
.ipynb_checkpoints/
.DS_Store
qdrant_storage.zip
