__pycache__/
.env
data/raw/
data/processed/
data/synthetic/
data/qdrant_server_storage/
data/qdrant_storage/
data/
*.pyc
.venv/
env/
*.egg-info/
wandb/
checkpoints/
models/
docs/
*.pkl
*.pt
.ipynb_checkpoints/
.DS_Store
